@model IEnumerable<Dev.IO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>
<partial name="_ListaProdutos" />
